# Copiar este archivo a ".env" y ajustar los valores. El .env real nunca se sube a Git.
DATABASE_URL=sqlite:///./triageai.db
SECRET_KEY=89dc2f5c0b06f2ee7f188bc68d29fcc4c0184f36ff2dbe917fac1175d97dfd41
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_PASSWORD=Alemania1630
CATBOOST_MODEL_PATH=app/ml/artifacts/triage_catboost_model.joblib
SITE_ID=SITE-HEL-01